



<li><input id="form1_price1" name="price" class="radio marg-right15" type="radio" value="<perch:content id="MinPriceMin">-<perch:content id="MinPriceMax">"><label for="form1_price1">£<perch:content id="MinPriceMin" type="text" label="Start Min-Price" format="$:%.2n" size="m" step="any" /> - £<perch:content id="MinPriceMax" type="text" label="Start Max-Price" format="$:%.2n" size="m" step="any" /></label></li>





<li><input id="form1_price4" name="price" class="radio marg-right15" type="radio" value="<perch:content id="pricePriceMin">-<perch:content id="pricePriceMax">"><label for="form1_price4">£<perch:content id="pricePriceMin" type="text" label="Price" format="$:%.2n" size="m" step="any" /> - £<perch:content id="pricePriceMax" type="text" label="Price" format="$:%.2n" size="m" step="any" /></label></li>



	

<li><input id="form1_price5" name="price" class="radio marg-right15" type="radio" value="<perch:content id="MaxPriceMax">"><label for="form1_price5">£<perch:content id="MaxPriceMax" type="text" label="Max Price +" format="$:%.2n" size="m" step="any" /> +</label> </li>

	


	