<perch:before>
<div class="media-boxes-drop-down" id="filter-content">
    <div class="media-boxes-drop-down-header"></div>
    <ul class="media-boxes-drop-down-menu filters" data-id="second-filter">
        <li><a class="selected" href="#" data-filter="*">Content (All)</a></li>
</perch:before>

        <li><a href="#" data-filter=".<perch:category id="catTitle" type="smarttext" label="Title">"><perch:category id="catTitle" type="smarttext" label="Title" required="true"></a></li>

<perch:after>
    </ul>
</div>
</perch:after>
