<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="<perch:pages id="twittername" type="hidden">" />
<perch:if exists="cpMtl">
<meta property="twitter:title" content="<perch:pages id="cpMtl" type="hidden">" />
<perch:else>
<meta property="twitter:title" content="<perch:pages id="og_title" type="hidden">" />
</perch:if>
<perch:if exists="ogDes">
<meta property="twitter:description" content="<perch:pages id="ogDes" type="textarea" type="hidden">" />
<perch:else>
<meta property="twitter:description" content="<perch:pages id="og_description" type="hidden">" />
</perch:if>
<meta name="twitter:url" content="<perch:pages id="url" type="hidden" encode="false" replace="%20|-">" />
<meta name="twitter:creator" content="<perch:pages id="twittername" type="hidden">" />
<perch:if exists="sharing_image">
<meta property="twitter:image" content="<perch:pages id="domain" type="hidden"><perch:pages id="sharing_image" type="hidden">" />
<perch:else>
<meta property="twitter:image" content="<perch:pages id="domain" type="hidden"><perch:pages id="og_image" type="hidden">" />
</perch:if>