<perch:members type="text" id="first_name" label="First Name" listing="true" order="1" />
<perch:members type="text" id="last_name" label="Last Name" listing="true" order="2" />
<perch:members type="text" id="number" label="Mobile" listing="true" order="3" />

<perch:group label="Members Social Sites" collapse>
<perch:members type="checkbox" id="socialon" label="Social Sites On/Off (Check for 'On')" value="true" order="21" />
<perch:members type="text" id="twitterurl" label="Twitter Link (URL)" order="22">
<perch:members type="text" id="facebookurl" label="Facebook Link (URL)" order="23">
<perch:members type="text" id="instagramurl" label="Instagram Link (URL)" order="24">
<perch:members type="text" id="linkedinurl" label="LinkedIn Link (URL)" order="25">
<perch:members type="text" id="pinteresturl" label="Pinterest Link (URL)" order="26">
<perch:members type="text" id="dribbleurl" label="Dribble Link (URL)" order="27">
</perch:group>

