<perch:form id="subscribe" class="subscribe needs-validation" app="perch_mailchimp" double-optin="true" novalidate>

    <div class="form-row">
        <div class="col-md-6 offset-md-3 mb-3">
            <perch:input id="email" class="form-control center text-center" type="email" mailer="email" placeholder="Your email address" required>
            <perch:error type="required" for="email">Please enter a valid email address</perch:error>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter a valid email address</div>
        </div>
    </div>

    <perch:input id="middlename" class="middlename" type="text" name="middlename" label="Middle Name" placeholder="Middle Name" value="" antispam="honeypot">

    <div class="form-row">
        <div class="col-md-6 offset-md-3 mb-3 center text-center">
            <perch:input type="hidden" value="1" id="confirm" mailer="confirm_subscribe">
            <perch:input type="hidden" id="list" value="91e0150cce" mailer="list">
            <perch:input id="submit" class="btn" type="submit" value="Subscribe">
        </div>
    </div>

    <perch:success>
        <div class="col-sm-12 col-lg-12 text-center">
            <h2>Success!</h2>
            <p>Thanks for signing-up.</p>
            <p>We've sent you a confirmation email.</p>
        </div>
    </perch:success>

</perch:form>
