<!-- FONTS AND ICONS -->
<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" />
<link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Cousine:400,700" />

<link type="text/css" rel="stylesheet" href='//fonts.googleapis.com/css?family=Lato:300,400,400italic,700' />
<link type="text/css" rel="stylesheet" href='//fonts.googleapis.com/css?family=Fjalla+One&subset=latin' />
<link type="text/css" rel="stylesheet" href='//fonts.googleapis.com/css?family=Roboto+Slab:100&subset=latin' />
<link type="text/css" rel="stylesheet" href='//fonts.googleapis.com/css?family=Roboto+Slab:300&subset=latin' />
<link type="text/css" rel="stylesheet" href='//fonts.googleapis.com/css?family=Roboto+Slab&subset=latin' />
<link type="text/css" rel="stylesheet" href='//fonts.googleapis.com/css?family=Roboto+Slab:700&subset=latin' />

<link type="text/css" rel="stylesheet" href="//cdn.lineicons.com/1.0.1/LineIcons.min.css" />

