<perch:before>
<ul>
</perch:before>


    <perch:if exists="loggedIn">

        <li<perch:if exists="current_page"> class="current-menu"</perch:if><perch:if exists="subitems"> class="dropdown"</perch:if> style="display:inline-block;"><a href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a><perch:pages id="subitems" encode="false" /></li>

    <perch:else>

        <li<perch:if exists="current_page"> class="current-menu"</perch:if><perch:if exists="subitems"> class="dropdown"</perch:if> style="display:inline-block;"><a href="<perch:pages id="pagePath" />"><perch:pages id="pageNavText" /></a><perch:pages id="subitems" encode="false" /></li>

    </perch:if>


<perch:after>
</ul>
</perch:after>