<perch:form id="login" class="form-light needs-validation" novalidate method="post" app="perch_members">

    <perch:error for="all" type="login">
        <p class="error">Those details do not match our records.</p>
    </perch:error>

    <div class="form-row">
        <div class="col-md-12 mb-4">
            <perch:input id="email" class="form-control text-center" type="email" name="email" label="Email" placeholder="you@youremail.com" value="" required>
            <perch:error for="email" type="required"><span class="error" role="alert">Required</span><br /></perch:error>
            <perch:error for="email" type="format"><span class="error" role="alert">Check format of email address</span><br /></perch:error>
        </div>
        <div class="col-md-12 mb-5">
            <perch:input id="password" class="form-control text-center" type="password" name="password" label="Password" placeholder="Password" value="" required>
            <perch:error for="password" type="required"><span class="error" role="alert">Required</span><br /></perch:error>
        </div>
    </div>
    <div class="form-row d-flex justify-content-center mb-3">
        <perch:input id="submit" class="btn btn-primary rounded-pill d-inline-flex" type="submit" value="login">
        <perch:input id="r" type="hidden">
    </div>
    <p>Forgotten your password?<br /><a href="/reset">Reset it now</a>.</p>

</perch:form>
