<perch:form id="password" class="needs-validation" novalidate method="post" app="perch_members">

	<div class="form-row">
        <div class="col-md-12 mb-4">
		    <perch:label for="old_password" class="text-white">Current Password</perch:label>
            <perch:input id="old_password" class="form-control text-center" type="password" name="old_password" label="Current Password" value="" required>
		    <perch:error for="old_password" type="required"><span class="error" role="alert">Please enter your current password</span><br /></perch:error>
		    <perch:error for="old_password" type="valid"><span class="error" role="alert">That password doesn't match our records</span><br /></perch:error>
	    </div>
    </div>

	<div class="form-row">
        <div class="col-md-12 mb-4">
		    <perch:label for="password" class="text-white">New Password</perch:label>
            <perch:input id="password" class="form-control text-center" type="password" name="password" label="New Password" match-with="password2" value="" required>
		    <perch:error for="password" type="required"><span class="error" role="alert">Please enter a new password</span><br /></perch:error>
		    <perch:error for="password" type="match"><span class="error" role="alert">Passwords do not match</span><br /></perch:error>
	    </div>
    </div>

	<div class="form-row">
        <div class="col-md-12 mb-4">
		    <perch:label for="password2" class="text-white">Repeat New Password</perch:label>
		    <perch:input id="password2" class="form-control text-center" type="password" name="password2" label="Repeat New Password" value="" required>
		    <perch:error for="password2" type="required"><span class="error" role="alert">Please repeat your password</span><br /></perch:error>
	    </div>
    </div>

    <div class="form-row d-flex justify-content-center">
        <perch:input id="submit" class="btn btn-primary rounded-pill d-inline-flex" type="submit" value="Set New Password">
        <perch:input type="hidden" id="token" />
    </div>

	<perch:success>
		<p class="text-white">Your details have been updated.</p>
	</perch:success>

</perch:form>